@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

@font-face {
    font-family: 'fonte_logo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}

body {
    background-color: #dddddd;
    color: rgba(0,0,0,1);
}

div#interface {
    width: 1000px;
    background-color: #ffffff;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    padding: 10px;
}

p {
    text-align: justify;
    text-indent: 50px;
}

/* formatação do cabeçalho */

header#cabecalho img#icone {
    position: absolute;
    top: 70px;
    left: 1000px;
}

header#cabecalho {
    border-bottom: 1px solid #606060;
    height: 150px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px;
}

header#cabecalho h1 {
    font-family: 'fonte_logo', sans-serif;
    font-size: 30pt;
    color: #606060;
    padding: 0px;
    margin-bottom: 0px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
}

header#cabecalho h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 15pt;
    color: #888888;
    padding: 0px;
    margin-top: 0px;
}

/* formatação de imagens com legendas */

figure.foto-legenda {
    position: relative;
    border: 8px solid white;
    /* crir sombra */
    box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img {
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    width: 100%;
    height: 99%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.foto-legenda:hover figcaption {
    opacity: 1;
}

/* formatação do menu */

nav#menu {
    display: block;
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 475px;
}

nav#menu li {
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}

nav#menu li:hover {
    background-color: #606060;
}

nav#menu h1 {
    display: none;
}

nav#menu a {
    color: #000000;
    text-decoration: none;
}

nav#menu a:hover {
    color: #ffffff;
    text-decoration: underline;
}

/*
    section = sessão
    aside = conteúdo lateral
    footer = rodapé
*/

section#corpo {
    display: block;
    width: 575px;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 25px;
}

table#tabela_spec {
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

table#tabela_spec td {
    border: 1px solid #606060;
    padding: 10px;
}

table#tabela_spec td.col_esquerda {
    color: #ffffff;
    background-color: #606060;
    vertical-align: top;
    font-weight: bold;
    text-align: right;

}

table#tabela_spec td.col_direita {
    background-color: #cecece;
    text-align: left;
}

table#tabela_spec caption {
    color: #888888;
    font-size: 13pt;
    font-weight: bolder;
}

table#tabela_spec caption span {
    display: block;
    float: right;
    color: #000000;
    font-size: 8pt;
    margin-top: 10px;
}

aside#lateral {
    display: block;
    width: 375px;
    float: right;
}

footer#rodape {
    clear: both;
    border-top: 1px solid #606060;
}

footer#rodape p {
    text-align: center;
}
